@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}



header{
    display: flex   ;
    background-color:rgba(255, 255, 255, 0.59);
    height:90px;
border-bottom: 1px solid rgb(164, 164, 164);
}


header .logo{
    height:110px;
}
header .logo h2{
     display:flex;
      margin-left:100px;
      margin-top:-70px;     
}
header .logo h2 span{
    color: red;
}

header .logo{
    margin:0px 14px;
    padding:0px 13px;
    height: 120px;
    width: 200px;
}


header .logo img{
 margin-top: -2%;
    height:83%;
    width:55%;
}   
header .list{
    
    margin-top: 2.5%;
    margin-left: 50%;
}
.list li {
    margin-right:20px;
    display:inline-block;
    list-style: none;
}
.list a{
    font-weight: 600;
    color:rgb(0, 0, 0);
    margin:9px;
    padding:3px;
    margin-right:17px;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size:15px;
}
.list a:hover{
    color:rgb(163, 20, 20);
    transition:0.2.5s ease;
    
}



.mainDiv{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}
.mainDiv .Img{
    width:70%;
    height:600px;
    overflow: hidden;
}
.mainDiv .Img img{
    width: 100%;
height: 100%;
} 
.mainDiv .contacts{
  padding-top: 5%;
    width:45%;

}
.mainDiv .contacts h1{
    font-size: 35px;
width: 75%;
margin-top: 5%;
margin-left: 10%;
}

.mainDiv .contacts .contact-details{
margin-left: 10%;
    width: 90%;
    font-size: 26px;
}
/* .mainDiv .contacts h1{
    margin-top:-500px;
    margin-left:-105px;
    gap:1vw;
} */
.contact-details{
       height:100px;
       
       width:200px;
}
.mainDiv .contacts .contact-details p{
    color:grey;
    font-size:17px;
    margin-top:20px;
    padding:7px;
}

.contact-button{
   display: inline-block;

margin-left: 12%;
}
.mainDiv .contacts .contact-button button{
    background-color: rgb(203, 72, 72);
    color: white;
    margin-top: 30px;
    height: 55px;
    width: 130px;
    border: none;
    border-radius: 5px;
}

.mainDiv .contacts .contact-button  button:hover{
    background-color:red;
    cursor: pointer;
    transition:0.5s ease-in-out;
}

.quote{

    position: relative;
display: flex;
justify-content: center;
}
.quote img{
    margin-top: 35px;
    height:32px;
    width:32px;
    display: block;
}
.quote-text{
    text-align: center;
    margin-top:30px;
    font-size: 25px;
}

.quote-text{
    display: flex;
    justify-content: center;
}

.about-us{
    margin-top: 150px;
 width: 100%;
}

.about-us h3{
    margin-left: 4%;
    color: rgb(203, 72, 72);
}

.about-us h1{
    margin-left: 4%;
    margin-top: 10px;
}



.about-us .about_container{
    display: flex;  margin-bottom: 4%;
    margin-top: 3%;
}
.about-us .about_container .aboutus-details {
    width: 50%;
}
.about-us .about_container .aboutus-details p{
    margin-top: 20px;
    margin-left: 9%;
}

.about-us .about_container .aboutus-img{
width: 50%;
display: flex;
justify-content: center;
}

.about-us .about_container .aboutus-img img{
  width: 80%;
  height:auto;
}






























/* About Us Page Css */
.aboutUs-main{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    display: flex;
}

.aboutUs-main .aboutUs-img-main{
    width:70%;
    height:500px;
    overflow: hidden;
}

.aboutUs-main .aboutUs-img-main img{
    width: 100%;
    height: 110%;
} 

.aboutUs-main .aboutUs-contacts{
    padding-top: 5%;
    width:45%;
  
}
.aboutUs-main .aboutUs-contacts h1{
  font-size: 35px;
  width: 75%;
  margin-top: 5%;
  margin-left: 11%;
}
  
.aboutUs-main .aboutUs-contacts .aboutUs-contact-details{
    margin-left: 10%;
    width: 90%;
    font-size: 26px;
}

.aboutUs-contact-details{
    height:100px;
    width:200px;
}
.aboutUs-main .aboutUs-contacts .aboutUs-contact-details p{
   color:grey;
   font-size:17px;
   margin-top:20px;
   padding:7px;
}

.aboutUs-main .aboutUs-contacts .aboutUs-page{
    color:grey;
    font-size:17px;
    margin-top:20px;
    padding:7px;
    margin-left: 10%;
}

.aboutUs-main .aboutUs-contacts .aboutUs-page p a{
   text-decoration: none;
   color:rgb(0, 0, 0);
}

.aboutUs-main .aboutUs-contacts .aboutUs-page span{
    color: red;
}

.aboutUs-container{
    /* margin-top: 100px; */
    height: 100%;
    width: 70%;
}

.aboutUs-container .aboutUs-container-img{
    width: 60%;
    margin-left: 75%;
    /* margin-bottom: 30%; */
    display: flex;
    justify-content: center;
}
    
.aboutUs-container .aboutUs-container-img img{
    width: 80%;
    height:auto;
}

.about1-us{
    margin-top: 150px;
 width: 100%;
}

.about1-us h3{
    display: inline-block;
    margin-left: 4%;
    color: rgb(203, 72, 72);
}

.about1-us h1{
    display: flex;
    margin-left: 4%;
    margin-top: 10px;
}



.about1-us .about1_container{
    display: flex;  margin-bottom: 4%;
    margin-top: 3%;
}
.about1-us .about1_container .aboutus1-details {
    width: 50%;
}
.about1-us .about1_container .aboutus1-details p{
    color: rgb(91, 86, 86);
    margin-top: 20px;
    margin-left: 9%;
}

.about1-us .about1_container .aboutus1-img{
width: 40%; 
display: flex;
justify-content: center;
}

.about1-us .about1_container .aboutus1-img img{
    margin-left: 14%;
  width: 80%;
  margin-top: -40% ;
  overflow: hidden;
}

.about1-us .about1_container .aboutus1-details p span{
    color: rgb(203, 72, 72);
    font-size: large;
}






/* our mission part css */
.ourmission{
    width: 100%;
    height: 100%;
    background-color: rgb(237, 219, 219);
} 

.ourmission .ourmission-head{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

.ourmission .ourmission-head h1{
    font-weight: bolder;
    display: inline-block;
    font-size: 50px;
    margin-left: 0;
    margin-top: -10%;
}

.ourmission .ourmission-head p{
    font-size: large;
    display: block;
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
}

.ourmission .ourmission-head{
    padding-top: 7%;
    padding-bottom: 4%;
    text-align: center;
}

.ourmission .ourmission-icons{
    box-sizing: border-box;
    display: table;
}

.ourmission .ourmission-icons .icon1{
    float: left;
    width: 20%;
    padding-left: 100px;
    padding-bottom: 80px;
    margin: 1%;
    margin-left: 5%;
}
.ourmission .ourmission-icons .icon1 h5{
    text-align: center;
}

.ourmission .ourmission-icons .icon2{

    float: left;
    width: 20%;
    padding-left: 100px;
    padding-bottom: 80px;
    margin: 1%;
}
.ourmission .ourmission-icons .icon2 h5{
    text-align: center;
}

.ourmission .ourmission-icons .icon3{   
 
    float: left;
    width:20%;
    padding-left: 100px;
    padding-bottom: 80px;
    margin: 1%;
}
.ourmission .ourmission-icons .icon3 h5{
    text-align: center;
}

.ourmission .ourmission-icons .icon1 .bx{
    font-size: 120px;
    margin-left: 30%;
    margin-bottom: 10%;
}

.ourmission .ourmission-icons .icon2 .bx{
    font-size: 120px;
    margin-left: 30%;
    margin-bottom: 10%;
}

.ourmission .ourmission-icons .icon3 .bx{
    font-size: 120px;
    margin-left: 30%;
    margin-bottom: 10%;
}
