/* About Us Page Css */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.aboutUs-main{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    display: flex;
}

.aboutUs-main .aboutUs-img-main{
    width:70%;
    height:500px;
    overflow: hidden;
}

.aboutUs-main .aboutUs-img-main img{
    width: 100%;
    height: 110%;
} 

.aboutUs-main .aboutUs-contacts{
    padding-top: 5%;
    width:45%;
  
}
.aboutUs-main .aboutUs-contacts h1{
  font-size: 35px;
  width: 75%;
  margin-top: 5%;
  margin-left: 11%;
}
  
.aboutUs-main .aboutUs-contacts .aboutUs-contact-details{
    margin-left: 10%;
    width: 90%;
    font-size: 26px;
}

.aboutUs-contact-details{
    height:100px;
    width:200px;
}
.aboutUs-main .aboutUs-contacts .aboutUs-contact-details p{
   color:grey;
   font-size:17px;
   margin-top:20px;
   padding:7px;
}

.aboutUs-main .aboutUs-contacts .aboutUs-page{
    color:grey;
    font-size:17px;
    margin-top:20px;
    padding:7px;
    margin-left: 10%;
}

.aboutUs-main .aboutUs-contacts .aboutUs-page p a{
   text-decoration: none;
   color:rgb(0, 0, 0);
}

.aboutUs-main .aboutUs-contacts .aboutUs-page span{
    color: red;
}

.aboutUs-container{
    /* margin-top: 100px; */
    height: 100%;
    width: 70%;
}

.aboutUs-container .aboutUs-container-img{
    width: 60%;
    margin-left: 75%;
    /* margin-bottom: 30%; */
    display: flex;
    justify-content: center;
}
    
.aboutUs-container .aboutUs-container-img img{
    width: 80%;
    height:auto;
}

.about1-us{
    margin-top: 150px;
 width: 100%;
}

.about1-us h3{
    display: inline-block;
    margin-left: 4%;
    color: rgb(203, 72, 72);
}

.about1-us h1{
    display: flex;
    margin-left: 4%;
    margin-top: 10px;
}



.about1-us .about1_container{
    display: flex;  margin-bottom: 4%;
    margin-top: 3%;
}
.about1-us .about1_container .aboutus1-details {
    width: 50%;
}
.about1-us .about1_container .aboutus1-details p{
    color: rgb(91, 86, 86);
    margin-top: 20px;
    margin-left: 9%;
}

.about1-us .about1_container .aboutus1-img{
width: 40%; 
display: flex;
justify-content: center;
}

.about1-us .about1_container .aboutus1-img img{
    margin-left: 14%;
  width: 80%;
  margin-top: -40% ;
  overflow: hidden;
}

.about1-us .about1_container .aboutus1-details p span{
    color: rgb(203, 72, 72);
    font-size: large;
}


/* our mission part css */
.ourmission{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(237, 219, 219);
} 

 .ourmission-head{
    width: auto;
    height: auto;
    margin-bottom: 5%;
}

.ourmission-head h1{
    font-weight: bolder;
    display: inline-block;
    font-size: 50px;
    margin-left: 0;
    margin-top: -10%;
}

.ourmission-head p{
    font-size: large;
    display: block;
    text-align: center;
    padding-top: 1%;
    font-size: 20px;
}

 .ourmission-head{
    padding-top: 7%;
    padding-bottom: 4%;
    text-align: center;
}
.out{
    display:flex;
    height: 100%;
     width:100%;
     text-align: center;
     margin-bottom: 10%;
}
.out .bx{
    margin-top: 15px;
      font-size: 90px;
}
.out h5{
    margin-top: 18px;
     font-size: 20px;
}
.iicon1{
    width:700px;
    height:300px;
    /* background-color:rgb(248, 231, 201); */
    margin-left: 5%;
}
.iicon2{
    width:700px;
    height:300px;
    margin-left: 12%;
    /* background-color:rgb(255, 255, 255); */
}
.iicon3{
    width:700px;
    height:300px;
    margin-left: 12%;
    margin-right:7%;
    /* background-color:rgb(255, 255, 255); */

}
