@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h2{
    color: rgb(218, 45, 45);
}

.searchBlood{
    height: 100%;
    width: 100%;
}

.searchBlood select{
    width: 25%;
    padding: 5px;
}

.searchBlood input{
    margin-left: 1%;
}

.searchBlood textarea{
    padding: 2%;
    margin-top: 1%;
    margin-left: 0;
    resize: none;
}


.searchBlood button{
    width: 5%;
    padding: 5px;
}