@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{

    overflow-x: hidden;
}
header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.59);
  height: 5.625rem;
  border-bottom: 1px solid rgb(164, 164, 164);
}

header .logo {
  height: 6.875rem; 
}
header .logo h2 {
  display: flex;
  margin-left: 6.25rem;
  margin-top: -4.375rem;
}
header .logo h2 span {
  color: red;
}

header .logo {
  margin: 0rem 0.875rem;
  padding: 0rem 0.8125rem;
  height: 7.5rem;
  width: 12.5rem;
}

header .logo img {
  margin-top: -2%;
  height: 83%;
  width: 55%;
}
header .list {
  margin-top: 2.5%;
  margin-left: 50%;
}
.list li {
  margin-right: 1.25;
  display: inline-block;
  list-style: none;
}
.list a {
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 0.5625rem;
  padding: 0.188rem;
  margin-right: 1.063rem;
  text-decoration: none;
  font-size: 1.063rem;
}
.list a:hover {
  color: rgb(203, 72, 72);
  transition: 0.2.5s ease;
}

.mainDiv {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
}
.mainDiv .Img {
  width: 70%;
  height: 37.5rem;
  background-color: red;
  overflow: hidden;
}
.mainDiv .Img img {
  width: 100%;
  height: 100%;
}
.mainDiv .contacts {
  padding-top: 5%;
  width: 45%;
}
.mainDiv .contacts h1 {
  font-size: 2.188rem;
  width: 75%;
  margin-top: 5%;
  margin-left: 10%;
}

.mainDiv .contacts .contact-details {
  margin-left: 10%;
  width: 90%;
  font-size: 1.625rem;
}
/* .mainDiv .contacts h1{
    margin-top:-500px;
    margin-left:-105px;
    gap:1vw;
} */
.contact-details {
  height: 6.25rem;
  width: 12.5rem;
}
.mainDiv .contacts .contact-details p {
  color: rgb(0, 0, 0);
  font-size: 1.063rem;
  margin-top: 1.25rem;
  padding: 0.438rem;
}

.contact-button {
  display: inline-block;
  margin-left: 12%;
}

.mainDiv .contacts .contact-button button {
  background-color: red;
  color: white;
  margin-top: 1.875rem;
  font-size: large;
  height: 4.063rem;
  width: 11.063;
  border: none;
  margin:2.188 0rem;
  padding:0.25rem;
  background-color: red;
  border-radius: 0.375rem;
}

.mainDiv .contacts .contact-button button:hover {
  background-color: red;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
}
.quote img {
  margin-top: 7%;
  height: 4.375rem;
  width: 5rem;
  display: block;
}

.quote-text {
  text-align: center;
  margin-top: 1.875rem;
  font-size: 1.563rem;
}

.quote-text {
  display: flex;
  justify-content: center;
}
.quote-text h3 i {
  font-size: 120%;
}
.main {
  margin-left: 6%;
  height: 40%;
  width:90%;
  margin-bottom: -0.45%;
  overflow: hidden;
}
.main h3 {
  color: rgb(201, 24, 24);
  margin-top: 14%;
}
.main h1 {
  font-size: 2.75rem;
}
.main1 {
  width: 50%;
}
.main1 p {
  padding-right: 1.3%;
  margin-top: 2.55%;
  color: black;
}
.main2 {
  height: 40%;
  width: 85%;
  margin-top: -10%;
  margin-left: 50%;
}
.main2 img {
  margin-right: 20%;
  height: auto;
  width: 70%;
}

.icon {
  float: left;
  height: 30%;
  width: 20%;
  margin-top: -28%;
}
.icon span {
  color: black;
}
.icon h3 {
  padding: 1.8%;
  color: rgb(201, 24, 24);
  font-size: medium;
}
.fa-solid fa-check {
  display: inline;
  color: solid rgb(243, 52, 52);
}
.icon2 {
  float: left;
  height: 35%;
  width: 20%;
  margin-top: -28%;
  margin-left: 27%;
}
.icon2 span {
  color: black;
}
.icon2 h3 {
  padding: 1.8%;
  color: rgb(201, 24, 24);
  font-size: medium;
}
.fa-solid {
  font-size: 1.25rem;
  color: solid rgb(243, 52, 52);
}
.about {
  height: 10%;
  width: 12%;
  margin-top: -9%;
}
.about button {
  cursor: pointer;
  background-color: rgb(243, 52, 52);
  color: white;
  padding: 10% 30%;
  border-radius: 0.625rem;
  border: none;
}
.content {
  height: 37.5rem;
  width: 100%;
  border-radius: 4.25rem;
  background-color:#A52A2A;
}

.content1 {
  background-color: white;
  margin-left: 6%;
  height: 33.8%;
  width: 33%;
  border:1px solid white;
  border-bottom-left-radius:1.25rem;
  border-bottom-right-radius:1.375rem;
}
.content1 h1 {
  font-size:x-large;
  margin-left: 7%;
  padding: 3%;
}
.content1 p {
  margin-left: 8%;
  padding: 2%;
  margin-top: 1%;
  color: rgb(84, 84, 84);
}
.content2 {
  float: right;
  margin-top: -13.8%;
  margin-right: 32%;
  height: 18%;
  width: 24%;
  padding: 0.813rem;
}
.content2 h2 {
  color: white;
  margin-left: 32%;
}
.content2 p {
  color: white;
  margin-top: 5%;
  margin-left: 32%;
}
.card {
  height: 68%;
  width: 100%;
  position: relative;
  display: flex;
}

.c1 {
  border:1px solid white;
  border-radius:1.188rem;
  transition: transform 0.3s cubic-bezier(0.68, -0.58, 0.27, 2);
  background-color: white;
  color: black;
  margin: auto;
  height: 72%;
  width: 23%;
}
.c2 {
  border:1px solid white;
  border-radius:1.188rem;
  transition: transform 0.3s cubic-bezier(0.68, -0.58, 0.27, 2);
  background-color: white;
  margin: auto;
  height: 72%;
  width: 23%;
}
.c3 {
  border:1px solid white;
  border-radius:1.188rem;
  transition: transform 0.3s cubic-bezier(0.68, -0.58, 0.27, 2);
  background-color: white;
  margin: auto;
  height: 72%;
  width: 23%;
}

.c1 img {
  opacity: 0.6;
  margin: 5% 35%;
  height: 25.5%;
  width: 27%;
}

.c2 img {
  margin: 5% 40%;
  height: 25.5%;
  width: 21%;
}
.c3 img {
  margin: 5% 42%;
  height: 25.5%;
  width: 20%;
}
.card h3 {
  font-size: x-large;
  text-align: center;
  padding: 5%;
  text-align: center;
}
.card p {
  text-align: center;
  margin: 0% 9%;
}

.c1:hover {
  transform: translateY(-10px);
}
.c2:hover {
  transform: translateY(-10px);
}
.c3:hover {
  transform: translateY(-10px);
}

.event {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.head {
  height: 30%;
  width: 100%;
  margin: 3% 7%;
}
.donate {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.d1,
.d2,
.d3 {
  position: relative;
}
.d1 {
  margin-left: 104px;
  background-color: blue;
  height: 21.125rem;
  width: 25rem;
}
.d2 {
  background-color: rgb(91, 255, 15);
  height: 21.125rem;
  width: 25rem;
}
.d3 {
  margin-right: 5.875rem;
  background-color: rgb(255, 64, 0);
  height: 21.125rem;
  width: 25rem;
}
#c1,
#c2,
#c3 {
  position: absolute;
  bottom: 0%;
  height: 14%;
  width: 50%;
  background-color: rgb(210, 59, 59);
}

#g1,
#g2,
#g3 {
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 14%;
  width: 50%;
  background-color: rgb(224, 15, 15);
}
.d1 img,
.d2 img,
.d3 img {
  height: 18.25rem;
  width: 25rem;
}

.d1 h3,
.d2 h3,
.d3 h3 {
  margin-top: 0.875rem;
  text-transform: uppercase;
  color: white;
}

.manage {
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  width: 100%;
}
.manage a{
  color:black;
    text-decoration: none; 
     margin-top: 5%;
}
.manage i{
  color:red;
      margin-top: 4%;
      margin-right: 4%;
}
.manage #t1,#t3{
     margin-left: 22%;   
}
.manage #t2{
       margin-left: 42%;
}
.m1,
.m2,
.m3 {
  height: 3.438rem;
  width: 25rem;
  margin: 0rem 2.188rem;
  background-color: rgb(191, 180, 163);
}
.m1 {
  margin-left:2.75rem;
}
.m2 {
  margin-left:1rem;
}
.m3 {
  margin-left:0.875rem;
}

.title {
  display: flex;
  width: 100%;
}
.t1,
.t2,
.t3 {
  width: 25rem;

}
.t1 {
  margin-left: 6.5rem;
}
.t2 {
  margin: 0rem 3.063rem;
}
.t3 {
  margin-right: 0px;
}
.title h2 {
  margin-top: 2.688rem;
  font-size:1.813rem;
  padding: 0.125rem;
}
.title h4 {
  margin-top: 1.875rem;
  padding: 0.063rem;
  margin-bottom: 0.25rem;
  color: rgb(67, 61, 61);
}

.end {
  position: relative;
  height: auto;
  width: 100%;
}
.end #e1 {
  opacity: 0.34;
  width: 100%;
}
.end #e2 {
  position: absolute;
  left: 0;
  height: 7.5rem;
}
.h1 {
  top: 0;
  position: absolute;
  margin-top: 11%;
  margin-left: 7%;
  margin-right: 10%;
  height: 60%;
  width: 23%;
}
.h1 h2 span {
  display: flex;
  color: red;
}
.h1 h2 {
  margin-top: 1.5rem;
  margin-left: 6.25rem;
}
.h1 h3 {
  color: rgb(67, 61, 61);
  font-size: medium;
  margin-top: 0.75rem;
  padding: 0.188rem;
  margin-left: 2rem;
}
.h1 i {
  transition: transform 0.3s cubic-bezier(0.68, -0.58, 0.27, 2);
  color: white;
  border-radius: 0.75rem;
  background-color: red;
  padding: 0.563rem;
  font-size: x-large;
  margin-top: 1.375rem;
  margin-left: 1.875rem;
}
.h1 i:hover{
  transform: translateY(-10px);
}
.h2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-left: 32%;
  margin-top: 11%;
  height: 60%;
  width: 10%;
}
.h2 h3 {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 2.188rem;
}
.h2 a {
  text-decoration: none;
  color: rgb(67, 61, 61);
  font-weight: bold;
  margin-left: 1.063rem;
  justify-content: left;
  padding: 0.438rem;
}
.h2 a:hover{
     text-decoration: underline;
}
.h3 {
  display:flex;
  flex-direction: column;
  position: absolute;
  top:0;
  margin-left:45%;
  margin-top: 11%;
  height:45%;
  width: 25%;
}
.h3 h3{
    margin-left: 1.438rem;
    margin-top:1.563rem;
    margin-bottom: 2.125rem;
}
.h3 a{
    text-decoration: none;
    padding:0.75rem;
    font-weight:bold;
    color:rgb(67, 61, 61);
}
.h3 a:hover{
     text-decoration:underline;
}
.h3 i{
    color:red;
    margin:0rem 0.563rem;
}
.work{
     position: absolute;
     width:20%;
     height:40%;
     top:0;
     margin-left: 72%;
     margin-top: 11%;
     padding:0.563rem;
}

.work h3{
  margin-left: 0.75rem;
    margin-top: 0.75rem;
}
.work h2{
  margin-left: 0.75rem;
  margin-top: 0.813rem;
    font-size:medium;
}
.work h4{
   margin-left: 0.75rem;
    margin-top:2.313rem;
}
.work button{
  cursor:pointer;   
    border:none;
    padding:0.75rem;
    height: 26%;
    width:50%;
    transition: transform 0.3s cubic-bezier(0.68, -0.58, 0.27, 2);
    color:white;
    border-radius:0.813rem;
    background-color:red;
    margin-top: 1.25rem;
    margin-left: 0.75rem;
}
.work button:hover{
  transform: translateY(-10px);
}
.work i{
    margin-right: 0.25rem;
}

/* About Us Page Css */
.aboutUs-main {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  display: flex;
}

.aboutUs-main .aboutUs-img-main {
  width: 70%;
  height: 31.25rem;
  overflow: hidden;
}

.aboutUs-main .aboutUs-img-main img {
  width: 100%;
  height: 110%;
}

.aboutUs-main .aboutUs-contacts {
  padding-top: 5%;
  width: 45%;
}
.aboutUs-main .aboutUs-contacts h1 {
  font-size: 2.188rem;
  width: 75%;
  margin-top: 5%;
  margin-left: 11%;
}

.aboutUs-main .aboutUs-contacts .aboutUs-contact-details {
  margin-left: 10%;
  width: 90%;
  font-size: 1.625rem;
}

.aboutUs-contact-details {
  height: 6,25rem;
  width: 12.5rem;
}
.aboutUs-main .aboutUs-contacts .aboutUs-contact-details p {
  color: grey;
  font-size: 1.063rem;
  margin-top: 1.25rem;
  padding: 0.438rem;
}

.aboutUs-main .aboutUs-contacts .aboutUs-page {
  color: grey;
  font-size: 1.063rem;
  margin-top: 1.25rem;
  padding: 0.438rem;
  margin-left: 10%;
}

.aboutUs-main .aboutUs-contacts .aboutUs-page p a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.aboutUs-main .aboutUs-contacts .aboutUs-page span {
  color: red;
}

.aboutUs-container {
  /* margin-top: 100px; */
  height: 100%;
  width: 70%;
}

.aboutUs-container .aboutUs-container-img {
  width: 60%;
  margin-left: 75%;
  /* margin-bottom: 30%; */
  display: flex;
  justify-content: center;
}

.aboutUs-container .aboutUs-container-img img {
  width: 80%;
  height: auto;
}

.about1-us {
  margin-top: 9.375rem;
  width: 100%;
}

.about1-us h3 {
  display: inline-block;
  margin-left: 4%;
  color: rgb(203, 72, 72);
}

.about1-us h1 {
  display: flex;
  margin-left: 4%;
  margin-top: 0.625rem;
}

.about1-us .about1_container {
  display: flex;
  margin-bottom: 4%;
  margin-top: 3%;
}
.about1-us .about1_container .aboutus1-details {
  width: 50%;
}
.about1-us .about1_container .aboutus1-details p {
  color: rgb(91, 86, 86);
  margin-top: 1.25rem;
  margin-left: 9%;
}

.about1-us .about1_container .aboutus1-img {
  width: 40%;
  display: flex;
  justify-content: center;
}

.about1-us .about1_container .aboutus1-img img {
  margin-left: 14%;
  width: 80%;
  margin-top: -40%;
  overflow: hidden;
}

.about1-us .about1_container .aboutus1-details p span {
  color: rgb(203, 72, 72);
  font-size: large;
}

/* our mission part css */
.ourmission {
  margin-top: -4%;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: rgb(237, 219, 219);
}

.ourmission-head {
  width: 100%;
  height: 200px;
  margin-top: 25px;
  margin-bottom: 5%;
}

.ourmission-head h1 {
  font-weight: bolder;
  display: inline-block;
  font-size: 3.125rem;
  margin-left: 0;
  margin-top: -10%;
}

.ourmission-head p {
  font-size: large;
  display: block;
  text-align: center;
  padding-top: 1%;
  font-size: 20px;
}

.ourmission-head {
  padding-top: 7%;
  padding-bottom: 4%;
  text-align: center;
}
.out {
  display: flex;
  height: 320px;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}
.out .bx {
  margin-top: 0.938rem;
  font-size: 5.625rem;
}
.out h5 {
  margin-top: 1.125rem;
  font-size: 1.25rem;
}
.iicon1 {
  width: 43.75rem;
  height: 15.75rem;
  /* background-color:rgb(248, 231, 201); */
  margin-left: 5%;
}
.iicon2 {
  width: 43.75rem;
  height: 15.75rem;
  margin-left: 12%;
  /* background-color:rgb(255, 255, 255); */
}
.iicon3 {
  width: 43.75rem;
  height: 15.75rem;
  margin-left: 12%;
  margin-right: 7%;
  /* background-color:rgb(255, 255, 255); */
}

@media(max-width:844px){ 
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){ 
  html{
      font-size: 45%;
  }
}




/* donation page css */

.donationImg {
  /* border: 2px solid black; */
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.black {
  width: 100%;
  height: 450px;
  background-color: black;
  opacity: 0.7;
  position: absolute;
}

.donationImg img {
  width: 100%;
  height: 800px;
}

.donationImg h2 {
  color: white;
  position: absolute;
  text-align: center;
  padding: 170px;
  margin-left: 456px;
  font-size: 45px;
}

.donationImg h4 {
  color: white;
  position: absolute;
  text-align: center;
  padding: 170px;
  margin-top: 60px;
  margin-left: 511px;
  font-size: 16px;
  font-weight: lighter;
}

.donationImg h4 a {
  text-decoration: none;
  color: white;
}

.donationImg h4 span {
  color: rgb(218, 45, 45);
}


.FormHeading h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 45px;
}


.fullForm {
  height: 100%;
  width: 100%;
}


.donationForm1 {
  border: 1px solid grey;
  text-align: left;
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  padding-left: 30px;
}

.donationForm1 h1 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 4%;
  margin-bottom: -2%;
}

.donationForm1 select {
  margin-bottom: 2%;
  margin-top: -5%;
  width: 95%;
  padding: 2%;
  margin-bottom: 5%;
}

.donationForm1 select:focus {
  border: 1px solid rgb(218, 45, 45);
  cursor: pointer;
}


.donationForm2 {
  border: 1px solid grey;
  text-align: left;
  width: 50%;
  height: 1050px;
  margin-top: 1%;
  margin-left: 25%;
  padding-left: 30px;
  margin-bottom: 25px;
}

.donationForm2 h1 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 1%;
}


.donationForm2 input {
  margin-top: 6%;
  width: 39.5%;
  padding: 2%;
  display: inline;
  margin: 2.5%;
  margin-bottom: 1%;
}

/* .donationForm2 input:hover{
  border: 1px solid rgb(218, 45, 45);
} */

/* phone number validation */
.donationForm2 #phone {
  outline: 0;

}

.donationForm2 #phone:valid {
  border-color: green;
}

.donationForm2 #phone:focus:invalid {
  border-color: red;
}

.donationForm2 textarea {
  display: flex;
    padding: 2%;
    margin-top: 5%;
    margin-left: 2%;
    resize: none;
}


/* pincode validation */
.donationForm2 #pincode {
  outline: 0;

}

.donationForm2 #pincode:valid {
  border-color: green;
}

.donationForm2 #pincode:focus:invalid {
  border-color: red;
}




/* select tag */
.donationForm2 select#district{
  margin-top: 2.5%;
  width: 84.5%;
  padding: 2%;
  margin-left: 2.5%;
}




/* button */
.donationForm2 button {
  margin-top: 3%;
  margin-left: 35%;
  padding: 2%;
  background-color: rgb(218, 45, 45);
  color: white;
  font-weight: bolder;
  border: none;
}

.donationForm2 button {
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(255, 156, 156);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.donationForm2 button:hover {
  box-shadow: inset 0 0 0 50px #000000;
}

.donationForm2 input#file{
  font-size: 15px;
  margin-top: -0.5%;
  margin-bottom: 2%;
}